* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0a1823;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.chatroom {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 400px;
    height: 80vh;
    background: #373c46;
    border-radius: 0 50px 0 50px;
    padding: 20px;
    box-sizing: border-box;
}

.chatroom::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.message {
    display: inline-block;
    background: #9E1946;
    color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 75%;
    border-radius: 16px;
}

.align-left {
    align-self: flex-start;
}

.align-right {
    align-self: flex-end;
}

.message-input-wrapper {
    width: 400px;
    padding: 12px 30px;
    background: #373c46;
    border-radius: 50px 0px;
    box-sizing: border-box;
}

.message-input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
}

.join-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 400px;
    background: #373c46;
    border-radius: 0 50px 0 50px;
    padding: 20px;
    box-sizing: border-box;
}

.join-wrapper::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.join-input {
    width: 100%;
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 0 50px 0 0;
}

.join-button {
    width: 150px;
    align-self: center;
    background: #9E1946;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1rem;
}
